{% extends "base.html" %}

{% block content %}


{% if logged_in %}
<section>
    <h1>Добавить Комментарий</h1>
<form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
            <p>
            {% for error in errors %}
                <div class="alert alert-primary" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            </p>
            <p>
                {{ form.text.label }}<br>
                {{ form.text }}<br>
                {% for error in form.text.errors %}
                <div class="alert alert-primary" role="alert">
                    {{ error }}
                </div>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
    </form>
</section>
{% endif %}
<section>
{%if comments%}
{% for item in comments %}

    <div class="card">
        <div class="card-header">
            {{item.user_id}}
        </div>
        <div class="card-body">
            <p class="card-text">{{item.text}}</p>
        </div>
    </div>
{% endfor %}
{%endif%}
</section>
{% endblock %}