{% extends "base.html" %}

{% block content %}
<section>
    <div id="yacht" class="carousel slide" data-ride="carousel"
        style="width: 600px;">
        <!-- Indicators -->
            <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="{{img1}}" alt="Яхта1">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="{{img2}}" alt="Яхта1">
                </div>

                <div class="carousel-item">
                    <img class="d-block w-100" src="{{img3}}" alt="Яхта1">
                </div>
            </div>
        <a class="carousel-control-prev" href="#yacht" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#yacht" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>

    </div>
</section>
<br>
<br>
<br>
<section>
{% if admin %}
    <a class="btn btn-primary" href="/add_news" role="button">Добавить Новость</a>
{% endif %}
{% if news %}
{% for item in news %}
    <div class="card">
        <div class="card-header">
            {{item.title}}
        </div>
        <div class="card-body">
            <p class="card-text">{{item.description}}</p>
            <a href="/news/{{item.id}}" class="btn btn-primary">Читать полностью</a>
        </div>
    </div>
{% endfor %}
{%endif%}
</section>
{% endblock %}

